<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="CONTACT_EDIT" ng-cloak ng-init="init()" class="aio-empty-screen padding overflow-scroll">
    <div class="card">
        <div class="item-divider item">
            {{'CONTACT_EDIT'|translate}}
        </div>
        <div class="item">
            <form name="myForm">
                <div class="list">
                    <div class="item item-input">
                        <span class="input-label">
                            {{ 'Full_Name' |translate }}
                        </span>
                        <input type="text" placeholder="{{ 'Full_Name' |translate }}" value="{{CONTACT.FULLNAME}}"
                        ng-model="CONTACT.FULLNAME">
                    </div>
                    <h6 ng-show="myForm.userName.$error.required" class="assertive">
                        Required
                    </h6>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'DESCRIPTION' | translate }}
                        </span>
                        <input type="text" placeholder="{{'DESCRIPTION' | translate }}" value="{{CONTACT.DESCRIPTION}}"
                        ng-model="CONTACT.DESCRIPTION">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'SOURCE' | translate}}
                        </span>
                        <input type="text" placeholder="{{'SOURCE' | translate}}" value="{{CONTACT.SOURCE}}"
                        ng-model="CONTACT.SOURCE">
                    </div>
                    <div class="item item-input item-select ">
                        <div class="input-label">
                            {{ 'STATUS'| translate }}
                        </div>
                        <select ng-model="CONTACT.STATUS">
                            <option value="Contacted">
                                {{'CONTACTED ' | translate}}
                            </option>
                            <option value="Not Contacted">
                                {{'NOT_CONECTED' |translate}}
                            </option>
                            <option value="Cancelled">
                                {{'CANCELLED' | translate }}
                            </option>
                        </select>
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'TITLE' |translate}}
                        </span>
                        <input type="text" placeholder="{{'TITLE' |translate}}" value="{{CONTACT.TITLE}}"
                        ng-model="CONTACT.TITLE" required="" name="Title">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'INDUSTRY' | translate}}
                        </span>
                        <input type="text" placeholder="{{'INDUSTRY' | translate}}" value="{{CONTACT.INDUSTRY}}"
                        ng-model="CONTACT.INDUSTRY">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'WEBSITE'| translate}}
                        </span>
                        <input type="text" placeholder="{{'WEBSITE'| translate}}" value="{{CONTACT.WEBSITE}}"
                        ng-model="CONTACT.WEBSITE">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'RATING' |translate}}
                        </span>
                        <input type="text" placeholder="{{'RATING' |translate}}" value="{{CONTACT.RATING}}"
                        ng-model="CONTACT.RATING" name="Rating">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'PHONE_1'|translate}}
                        </span>
                        <input type="text" placeholder="{{'PHONE_1'|translate}}" value="{{CONTACT.PHONE_1}}"
                        ng-model="CONTACT.PHONE_1">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'PHONE_2'|translate}}
                        </span>
                        <input type="text" placeholder="{{'PHONE_2'|translate}}" value="{{CONTACT.PHONE_2}}"
                        ng-model="CONTACT.PHONE_2">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'E_MAIL' |translate }}
                        </span>
                        <input type="text" placeholder="{{'E_MAIL' |translate }}" value="{{CONTACT.E_MAIL}}"
                        ng-model="CONTACT.E_MAIL">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'ADDRESS' |translate}}
                        </span>
                        <input type="text" placeholder="{{'ADDRESS' |translate}}" value="{{CONTACT.ADDRESS}}"
                        ng-model="CONTACT.ADDRESS">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'REGION' |translate}}
                        </span>
                        <input type="text" placeholder="{{'REGION' |translate}}" value="{{CONTACT.REGION}}"
                        ng-model="CONTACT.REGION">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'CITY' | translate}}
                        </span>
                        <input type="text" placeholder="{{'CITY' | translate}}" value="{{CONTACT.CITY}}"
                        ng-model="CONTACT.CITY">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'COUNTRY'|translate}}
                        </span>
                        <input type="text" placeholder="{{'COUNTRY'|translate}}" value="{{CONTACT.COUNTRY}}"
                        ng-model="CONTACT.COUNTRY">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'HEADCOUNT' | translate }}
                        </span>
                        <input type="text" placeholder="{{'HEADCOUNT' | translate }}" value="{{CONTACT.HEADCOUNT}}"
                        ng-model="CONTACT.HEADCOUNT">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'DOB' |translate}}
                        </span>
                        <input type="text" placeholder="{{'DOB' |translate}}" value="{{CONTACT.DOB}}" ng-model="CONTACT.DOB">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'TWITTER_ID' | translate}}
                        </span>
                        <input type="text" placeholder="{{'TWITTER_ID' | translate}}" value="{{CONTACT.TWITTER_ID}}"
                        ng-model="CONTACT.TWITTER_ID">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'INSTAGRAM_ID' | translate}}
                        </span>
                        <input type="text" placeholder="{{'INSTAGRAM_ID' | translate}}" value="{{CONTACT.INSTAGRAM_ID}}"
                        ng-model="CONTACT.INSTAGRAM_ID">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'FACEBOOK_ID'|translate}}
                        </span>
                        <input type="text" placeholder="{{'FACEBOOK_ID'|translate}}" value="{{CONTACT.FACEBOOK_ID}}"
                        ng-model="CONTACT.FACEBOOK_ID">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'NOTES' | translate}}
                        </span>
                        <input type="text" placeholder="{{'NOTES' | translate}}" value="{{CONTACT.NOTES}}"
                        ng-model="CONTACT.NOTES">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'OWNER '|translate}}
                        </span>
                        <input type="text" placeholder="{{'OWNER '|translate}}" value="{{CONTACT.OWNER}}"
                        ng-model="CONTACT.OWNER">
                    </div>
                    <div class="item item-input">
                        <span class="input-label">
                            {{'MAIN_CONTACT'|translate}}
                        </span>
                        <input type="text" placeholder="{{'MAIN_CONTACT'|translate}}" value="{{CONTACT.MAIN_CONTACT}}"
                        ng-model="CONTACT.MAIN_CONTACT">
                    </div>
                </div>
                <button class="button button-positive button-block button-clear icon-right ion-checkmark"
                ng-click="FIND()" ng-disabled="myForm.userName.$error.required || myForm.LAST_NAME.$error.required">
                    {{'SUBMIT' |translate}}
                </button>
            </form>
        </div>
    </div>
</div>